{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Solicitudes : Detalle de solicitud{% endblock %}
{% block body %}
    <h2><i class="fa fa-bullhorn"></i> Solicitud de empleo</h2>

    <a href="{{ path('cuatrovientos_artean_jobrequest') }}" class="btn">
        <i class="fa fa-list-alt" aria-hidden="true"></i> Ver todos
    </a>
    <h3><i class="fa fa-search-plus" aria-hidden="true"></i> Detalle de solicitud</h3>
    {% include "CuatrovientosArteanBundle:Default:flash.html.twig" %}
    <a href="{{ path('cuatrovientos_artean_jobrequest_update', {'id': jobRequest.id }) }}" class="btn btn-warning"><i class="fa fa-edit" aria-hidden="true"></i> Modificar</a>
    <ul>
     <li><strong>Id: </strong>{{ jobRequest.id }}</li>
     <li><strong>Fecha orferta: </strong>{{ jobRequest.offerdate }}</li>
        <li><strong>Estado: </strong>{{ jobRequest.status }}</li>
        <li><strong>Empresa: </strong>{{ jobRequest.company.empresa }}</li>
        <li><strong>Email: </strong>{{ jobRequest.company.email }}</li>
        <li><strong>Teléfono: </strong>{{ jobRequest.company.telefono }}</li>
     <li><strong>Descripción: </strong>{{ jobRequest.description }}</li>
        {%   if (jobRequest.company != null ) %}
        <li><strong>Empresa: </strong>{#}{ jobRequest.company.empresa }#}</li>
        {%  endif %}
     <li><strong>Att: </strong>{{ jobRequest.att }}</li>
     <li><strong>Saludo: </strong>{{ jobRequest.greeting }}</li>
     <li><strong>Provincia: </strong>{{ jobRequest.province }}</li>
     <li><strong>Ciudad: </strong>{{ jobRequest.city }}</li>
     <li><strong>Sexo: </strong>{{ jobRequest.sex }}</li>
        <li><strong>Horario: </strong>{{ jobRequest.schedule }}</li>
        <li><strong>Tipo de contrato: </strong>{{ jobRequest.contractType }}</li>
        <li><strong>Categoría: </strong>{{ jobRequest.category }}</li>
        <li><strong>Estudios requeridos: </strong>{{ jobRequest.requiredStudies }}</li>
        <li><strong>Perfil: </strong>{{ jobRequest.profile }}</li>
        <li><strong>Requisitos: </strong>{{ jobRequest.skills }}</li>
        <li><strong>Idiomas requeridos: </strong>{{ jobRequest.requiredLanguages }}</li>
        <li><strong>Vacantes: </strong>{{ jobRequest.positionNo }}</li>
        <li><strong>Jornada: </strong>{{ jobRequest.workday }}</li>
        <li><strong>Salario: </strong>{{ jobRequest.salary }}</li>
        <li><strong>Urgencia: </strong>{{ jobRequest.urgent }}</li>
        <li><strong>Incidencias: </strong>{{ jobRequest.issues }}</li>
        <li><strong>Notas: </strong>{{ jobRequest.notes }}</li>
        <li><strong>Valoración: </strong>{{ jobRequest.rating }}</li>
    </ul>
    <h3>1. Preseleccionar candidatos <i class="fa fa-user-plus" aria-hidden="true"></i></h3>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addPrecandidates">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        Preseleccionar candidatos
    </button>
    {% if jobRequest.preselectedApplicants|length > 0 %}
    <table class="table .table-condensed">
        <tr><th>Id</th><th>Apellidos</th><th>Nombre</th><th>Telefono</th><th>Email</th><th>
                <a href="{{ path('cuatrovientos_artean_jobrequest_delete_all_preselected', {'id': jobRequest.id }) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Todos</a>
                <a href="{{ path('cuatrovientos_artean_jobrequest_add_all_selected', {'jobrequestid': jobRequest.id }) }}" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Todos</a>

            </th></tr>
        {% for applicant in jobRequest.preselectedApplicants %}
            {% include "CuatrovientosArteanBundle:JobRequest:preSelected.html.twig" %}
        {% endfor %}
    </table>
    {% else %}
        <div> No hay candidatos preseleccionados</div>
    {% endif %}
     <h3>2. Candidatos seleccionados <i class="fa fa-users" aria-hidden="true"></i></h3>

    {% if jobRequest.selectedApplicants|length > -1 %}
    <table class="table .table-condensed" id="selected_applicants">
        <tr><th>Id</th><th>Apellidos</th><th>Nombre</th><th>Telefono</th><th>Email</th>
            <th>
                <a href="{{ path('cuatrovientos_artean_jobrequest_delete_all_selected', {'id': jobRequest.id }) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Todos</a>

            </th></tr>
        {% for applicant in jobRequest.selectedApplicants %}
            {% include "CuatrovientosArteanBundle:JobRequest:selected.html.twig" %}
        {% endfor %}
    </table>
        <a href="{{ path('cuatrovientos_artean_jobrequest_detail', {'id': jobRequest.id }) }}" class="btn btn-primary"><i class="fa fa-envelope-open-o" aria-hidden="true"></i> Preparar Email</a>

    {% else %}
       <div> No hay candidatos preseleccionados</div>
            {% endif %}



    <h3>3. Enviar email <i class="fa fa-envelope" aria-hidden="true"></i></h3>
    {% if jobRequest.selectedApplicants|length > 0 %}
    {% include "CuatrovientosArteanBundle:JobRequest:email.html.twig" %}

    {% endif %}
    <!-- Modal -->
    <div class="modal fade" id="addPrecandidates" tabindex="-1" role="dialog" aria-labelledby="addPrecandidates" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> <i class="fa fa-users" aria-hidden="true"></i> Añadir precandidatos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% include "CuatrovientosArteanBundle:Applicant:advancedSearch.html.twig" %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="showApplicant" tabindex="-1" role="dialog" aria-labelledby="showApplicant" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> <i class="fa fa-users" aria-hidden="true"></i> Añadir precandidatos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block extrascripts %}
    <script language="javascript">
        var preselected = [];

        $('#applicant_search').click(function (e) {
            e.preventDefault();
            console.log($(this).attr('href'));
            var formSerialized = $('#applicant_search_form').serialize();
            load($(this).attr('href'));
            function load (url) {

                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'html',
                    data: formSerialized,
                    error: function() {
                        showResults('Error en la búsqueda');
                    },
                    success: function(res) {
                        if (res.length === 0) {
                            showResults('No se encontró ningún registro');
                        } else {
                            //console.log("SUCCESS " + res);
                            //updateArray(res);
                            showResults(res);
                        }
                    }
                });
            }

            function updateArray(applicants) {
                applicants.forEach(function (applicant) {
                    var result = $.grep(preselected, function(e){ return e.id == applicant.id; });
                    if (result.length == 0) {
                        preselected.push(applicant);
                    }
                });
                $("#preselected_applicant_list").empty();
                preselected.forEach(function (applicant) {
                    $("#preselected_applicant_list").append($("<option></option>")
                            .attr("value", applicant.id).text(applicant.surname+', '+applicant.name));
                });
                console.log(applicants);
            }

            function showResults(msg) {
                $("#preselected_applicant_list").html(msg);
                $('#applicant_search_result').css("display", "block");
            }
        });

        var selected = false;
        $('#select_all').click(function() {
            selected = !selected;
            $('#preselected_applicant_list option').prop('selected', selected);
        });

        $('.applicant_detail').click(function (e) {
            e.preventDefault();
            console.log($(this).attr('href'));
            load($(this).attr('href'));
            function load (url) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'html',
                    data: {
                    },
                    error: function() {
                        $('#showApplicant div.modal-body').html('Error al modificar.');//res;
                        $('#showApplicant').modal('show');
                    },
                    success: function(res) {
                        if (res.length === 0) {
                            console.log('Nothing found');
                        } else {
                            console.log("SUCCESS");
                            $('#showApplicant div.modal-body').html(res);//res;
                            $('#showApplicant').modal('show');
                        }
                    }
                });
            }
        });

        $('.delete_preselected').click(function (e) {
            e.preventDefault();
            var applicantid = $(this).data("id");
            console.log($(this).attr('href') + ":" + applicantid);
            load($(this).attr('href'));

            //var itemForSymfony['jobrequest'] = item;
            function load (url) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    error: function() {
                        $('#showApplicant div.modal-body').html('Error al eliminar.');//res;
                        $('#showApplicant').modal('show');
                    },
                    success: function(res) {
                        console.log("Result: " + res);
                        var result = JSON.parse(res);
                        if (result.result === 1) {
                            $('#preselected_applicant_id_'+applicantid).fadeOut(1000);
                            $('#preselected_applicant_id_'+applicantid).remove();
                        } else {
                            $('#showApplicant div.modal-body').html('No se pudo eliminar.');//res;
                            $('#showApplicant').modal('show');

                        }
                    }
                });
            }
        });


        $('.add_selected').click(function (e) {
            e.preventDefault();
            var applicantid = $(this).data("id");
            console.log($(this).attr('href') + ":" + applicantid);
            load($(this).attr('href'));

            //var itemForSymfony['jobrequest'] = item;
            function load (url) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'html',
                    error: function() {
                        $('#showApplicant div.modal-body').html('Error al modificar.');//res;
                        $('#showApplicant').modal('show');
                    },
                    success: function(res) {
                        console.log("Result: " + res);
                            if (res !== 0) {
                                // $('#showApplicant div.modal-body').html(res);//res;
                                // $('#showApplicant').modal('show');
                            $('#preselected_applicant_id_'+applicantid).fadeOut(1000);
                            $('#preselected_applicant_id_'+applicantid).remove();
                                $('table#selected_applicants').append(res);
                        } else {
                            $('#showApplicant div.modal-body').html('No se pudo mover.');//res;
                            $('#showApplicant').modal('show');

                        }
                    }
                });
            }
        });
    </script>
{% endblock %}