{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
    {% block title %}Artean :: Solicitudes : índice{% endblock %}
    {% block body %}
        <h2><i class="fa fa-bullhorn"></i> Solicitudes({{ total }}) </h2>
        <div><a href="{{ path('cuatrovientos_artean_jobrequest') }}">{% trans %}Recargar{% endtrans %}</a>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchformModal" data-whatever="searchCenter">
                <i class="fa fa-search" aria-hidden="true"></i> Buscar
            </button>

            <a href="{{ path('cuatrovientos_artean_jobrequest_new') }}" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Nueva solicitud</a> </div>
        <div id="searchformModal" style="display:none";  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            {% include "CuatrovientosArteanBundle:JobRequest:search.html.twig" %}
        </div>
        <form method="post" name="bystatus" action="{{ path('cuatrovientos_artean_jobrequest_bystatus') }}" >
            <select name="status" onchange="document.forms.bystatus.submit()" class="form-control" >
                <option value="">Seleccionar por estado</option>
                <option value="INICIADA">INICIADA</option>
                <option value="PRESELECCIÓN">PRESELECCIÓN</option>
                <option value="SELECCIÓN">SELECCIÓN</option>
                <option value="EMAIL ENVIADO">EMAIL ENVIADO</option>
                <option value="VALORADO">VALORADO
                <option value="">TODAS</option>
            </select>
        </form>
<div class="table-responsive">
    {% if status is defined and status != "" %}
        <h3>En estado: {{ status }}</h3>
        {% endif %}
  <table class="table .table-condensed">
     <div id='jobrequests'>
         <tr><th>Id</th><th>Estado</th><th>Descripción</th><th>Fecha</th><th>Tfno  Emp</th><th>Email Emp.</th><th></th></tr>
        {% for jobRequest in jobRequests %}
            {% include "CuatrovientosArteanBundle:JobRequest:jobRequest.html.twig" %}
        {% endfor %}
    </div>
  </table>
    <a href="{{ path('cuatrovientos_artean_jobrequest_paged', {'init': 0, 'limit':100 }) }}" class="btn "><i class="fa fa-fast-backward" aria-hidden="true"></i> Inicio</a>
    {% if init > 0 %}
        <a href="{{ path('cuatrovientos_artean_jobrequest_paged', {'init': init-100, 'limit':100 }) }}" class="btn "><i class="fa fa-forward" aria-hidden="true"></i> Atrás</a>
    {% endif %}
    <a href="{{ path('cuatrovientos_artean_jobrequest_paged', {'init': init+100, 'limit':100 }) }}" class="btn "><i class="fa fa-forward" aria-hidden="true"></i> Siguiente</a>
    <a href="{{ path('cuatrovientos_artean_jobrequest_paged', {'init': (total/100)|round(0,'floor'), 'limit':100 }) }}" class="btn "><i class="fa fa-fast-forward" aria-hidden="true"></i> Último</a>

</div>

{% endblock %}