<tr>
     <td>{{ jobRequest.id }}</td>
    <td>{{ jobRequest.status.name }}</td>
    <td>{{ jobRequest.description }}</td>
    <td>{{ jobRequest.offerdate }}</td>
    <td>{{ jobRequest.company.telefono }}</td>
    <td>{{ jobRequest.company.email }}</td>
    {#% if is_granted('ROLE_ADMIN') %#}
    <td>
        <a href="{{ path('cuatrovientos_artean_jobrequest_detail', {'id': jobRequest.id }) }}" class="btn btn-primary"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
        <a href="{{ path('cuatrovientos_artean_jobrequest_update', {'id': jobRequest.id }) }}" class="btn btn-warning"><i class="fa fa-edit" aria-hidden="true"></i> </a>
        <a href="{{ path('cuatrovientos_artean_jobrequest_delete', {'id': jobRequest.id }) }}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> </a>
    </td>

		{#% endif % #}
</tr>
