<tr>
     <td>{{ fct.id }}</td>
    <td>{{ fct.company.empresa }}</td>
    <td>{{ fct.company.telefono }}</td>
    <td>{{ fct.company.email }}</td>
    <td>{{ fct.applicant.surname }}, {{ fct.applicant.name }}</td>
    <td>{{ fct.course }}</td>
    {#% if is_granted('ROLE_ADMIN') %#}
    <td>
        <a href="{{ path('cuatrovientos_artean_fct_detail', {'id': fct.id }) }}" class="btn btn-primary"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
        <a href="{{ path('cuatrovientos_artean_fct_update', {'id': fct.id }) }}" class="btn btn-warning"><i class="fa fa-edit" aria-hidden="true"></i> </a>
        <a href="{{ path('cuatrovientos_artean_fct_delete', {'id': fct.id }) }}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> </a>
    </td>

		{#% endif % #}
<//tr>
