<tr>
     <td>{{ center.id }}</td> 
     <td>{{ center.name }}</td>
    <td>
        <a href="{{ path('cuatrovientos_artean_center_detail', {'id': center.id }) }}" class="btn btn-primary"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
        <a href="{{ path('cuatrovientos_artean_center_update', {'id': center.id }) }}" class="btn btn-warning"><i class="fa fa-edit" aria-hidden="true"></i> </a>
        <a href="{{ path('cuatrovientos_artean_center_delete', {'id': center.id }) }}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> </a>
    </td>
</tr>
