{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Centros : Detalle estudios{% endblock %}
{% block body %}
    <h2><i class="fa fa-industry" aria-hidden="true"></i> Centros de enseñanza</h2>

    <a href="{{ path('cuatrovientos_artean_center') }}" class="btn">
        <i class="fa fa-list-alt" aria-hidden="true"></i> Ver todos
    </a>
    <h3><i class="fa fa-search-plus" aria-hidden="true"></i> Detalle de centro</h3>
    <a href="{{ path('cuatrovientos_artean_center_update', {'id': center.id }) }}" class="btn btn-warning"><i class="fa fa-edit" aria-hidden="true"></i> Modificar</a>
    <ul>
     <li><strong>Id: </strong>{{ center.id }}</li> 
     <li><strong>Name: </strong>{{ center.name }}</li> 
</ul>
		{#% if is_granted('ROLE_ADMIN') %#}
                <a href="{{ path('cuatrovientos_artean_center') }}">Index</a> |
                <a href="{{ path('cuatrovientos_artean_center_update', {'id': center.id }) }}">Update</a> |
                <a href="{{ path('cuatrovientos_artean_center_delete', {'id': center.id }) }}">Delete</a>                      
		{#% endif % #}
{% endblock %}