{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Centro : nueva{% endblock %}
{% block body %}
   <h2><i class="fa fa-university" aria-hidden="true"></i> Centros</h2>

   <a href="{{ path('cuatrovientos_artean_center') }}" class="btn">
      <i class="fa fa-list-alt" aria-hidden="true"></i> Ver todos
   </a>

   <h3><i class="fa fa-plus" aria-hidden="true"></i> Nuevo centro de enseñanza</h3>
<form method="post" action="{{ path('cuatrovientos_artean_center_new_save') }}">
   {{ form_errors(form) }}
   <div class="form-group">
      {{ form_label(form.name) }}
      {{ form_errors(form.name) }}
      {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
   </div>
   <div class="form-group">
      {{ form_row(form._token) }}
      {{ form_widget(form.save, {'attr': {'class': 'form-control'}}) }}
   </div>
</form>

{% endblock %}