<form method="post" action="{{ path('cuatrovientos_artean_applicant_dashboard_new_job_save') }}">
    {{ form_errors(formJob) }}
    {{ form_widget(formJob.id) }}
    <div class="form-group">
        <label for="applicant_job_company" class="required">Empresa</label>
        <select id="applicant_job_company" name="applicant_job[companyName]">
         </select>
    </div>
    <div class="form-group">
        {{ form_label(formJob.contractType) }}
        {{ form_errors(formJob.contractType) }}
        {{ form_widget(formJob.contractType, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(formJob.description) }}
        {{ form_errors(formJob.description) }}
        {{ form_widget(formJob.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(formJob.endDate) }}
        {{ form_errors(formJob.endDate) }}
        {{ form_widget(formJob.endDate, {'attr': {'class': 'form-control'}}) }}
    </div>


    <div class="form-group">
        {{ form_row(formJob._token) }}
        {{ form_widget(formJob.save, {'attr': {'class': 'form-control'}}) }}
    </div>
</form>