<tr>
    <td>{{ job.id }}</td>
    <td>{{ job.company.empresa }}</td>
    <td>{{ job.contractType }}</td>
    <td>{{ job.description }}</td>
    <td>{{ job.endDate }}</td>
    <td>
        <a href="{{ path('cuatrovientos_artean_applicant_dashboard_update_job', {'id': job.id }) }}" class="btn btn-warning"><i class="fa fa-edit" aria-hidden="true"></i> U</a>
        <a href="{{ path('cuatrovientos_artean_applicant_dashboard_delete_job_save', {'id': job.id }) }}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> D</a>
    </td>
</tr>