{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Datos aspirante{% endblock %}
{% block extrastyles %}
    <style>
        {% include "CuatrovientosArteanBundle:Applicant/Studies:studies.select.css" %}
    </style>
{% endblock %}
{% block body %}
<h1>Aspirante</h1>
<form method="post" action="{{ path('cuatrovientos_artean_applicant_dashboard_update_job_save') }}">
    {{ form_errors(formJob) }}
    {{ form_widget(formJob.id) }}
    <div class="form-group">
        <label for="applicant_job_company" class="required">Empresa</label>
        <select id="applicant_job_company" name="applicant_job[companyName]">
            <option value="{{ applicantJob.company.id }}">{{ applicantJob.company.empresa }}</option>
        </select>
    </div>
    <div class="form-group">
        {{ form_label(formJob.contractType) }}
        {{ form_errors(formJob.contractType) }}
        {{ form_widget(formJob.contractType, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(formJob.description) }}
        {{ form_errors(formJob.description) }}
        {{ form_widget(formJob.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(formJob.endDate) }}
        {{ form_errors(formJob.endDate) }}
        {{ form_widget(formJob.endDate, {'attr': {'class': 'form-control'}}) }}
    </div>


    <div class="form-group">
        {{ form_row(formJob._token) }}
        {{ form_widget(formJob.save, {'attr': {'class': 'form-control'}}) }}
    </div>
</form>
{% endblock %}
{% block extrascripts %}
    {% javascripts
    '@CuatrovientosArteanBundle/Resources/public/js/selectize.js'
    '@CuatrovientosArteanBundle/Resources/public/js/es5.js'
    %}
    <!-- Optionally enable responsive features in IE8 -->
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script language="javascript">
        $('#applicant_job_company').selectize({
            valueField: 'id',
            labelField: 'empresa',
            searchField: 'empresa',
            options: [],
            create: true,
            render: {
                option: function(item, escape) {
                    return '<div>' +
                            '<span class="title">' +
                            '<span class="empresa">' + escape(item.empresa) +  '</span>' +
                            '</span>' +
                            '</div>';
                }
            },
            load: function(query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '{{ path('cuatrovientos_artean_api_company_index') }}',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        term: query,
                        page_limit: 100,
                    },
                    error: function() {
                        callback();
                    },
                    success: function(res) {
                        if (res.length === 0) {
                            console.log('Nothing found');
                        } else {
                            console.log(res);
                            callback(res);
                        }
                    }
                });
            }
        });



    </script>
{% endblock %}