{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Datos aspirante{% endblock %}
{% block extrastyles %}
    {% stylesheets
    'bundles/cuatrovientosartean/css/selectize.bootstrap3.css'
    filter='cssrewrite' output='css/compiled/select.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
<h1>Aspirante</h1>
<form method="post" action="{{ path('cuatrovientos_artean_applicant_dashboard_update_job_save') }}">
    {{ form_errors(formJob) }}
    {{ form_widget(formJob.id) }}
    <div class="form-group">
        {{ form_label(formJob.company) }}
        {{ form_errors(formJob.company) }}
        {{ form_widget(formJob.company, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(formJob.contractType) }}
        {{ form_errors(formJob.contractType) }}
        {{ form_widget(formJob.contractType, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(formJob.description) }}
        {{ form_errors(formJob.description) }}
        {{ form_widget(formJob.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(formJob.endDate) }}
        {{ form_errors(formJob.endDate) }}
        {{ form_widget(formJob.endDate, {'attr': {'class': 'form-control'}}) }}
    </div>


    <div class="form-group">
        {{ form_row(formJob._token) }}
        {{ form_widget(formJob.save, {'attr': {'class': 'form-control'}}) }}
    </div>
</form>
{% endblock %}
{% block extrascripts %}
    {% javascripts
    '@CuatrovientosArteanBundle/Resources/public/js/selectize.js'
    %}
    <!-- Optionally enable responsive features in IE8 -->
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script language="javascript">
        // <select id="select-movie"></select>
        $('#js-data-example-ajax').selectize({
            valueField: 'id',
            labelField: 'name',
            searchField: 'title',
            options: [],
            create: false,
            render: {
                option: function(item, escape) {
                    return '<div>' +
                            '<span class="title">' +
                            '<span class="name">' + escape(item.id) +':' +escape(item.name) +  '</span>' +
                             '</div>';
                }
            },
            load: function(query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '{{ path('cuatrovientos_artean_api_center_index') }}',
                    type: 'GET',
                    dataType: 'jsonp',
                    data: {
                        term: query,
                        page_limit: 10,
                    },
                    error: function() {
                        callback();
                    },
                    success: function(res) {
                        console.log(res);
                        callback(res);
                    }
                });
            }
        });
        </script>
{% endblock %}

