
{# src/Cuatrovientos/ArteanBundle/Resources/views/Center/new.html.twig #}
{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Center bundle::new Center{% endblock %}
{% block body %}

Simple
<form method="post" action="{{ path('cuatrovientos_artean_open_offer_save') }}">
   {# { form_widget(form) } #}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.company) }}
        {{ form_errors(form.company) }}
        {{ form_widget(form.company, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.position) }}
        {{ form_errors(form.position) }}
        {{ form_widget(form.position, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.functions) }}
        {{ form_errors(form.functions) }}
        {{ form_widget(form.functions, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.position_no) }}
        {{ form_errors(form.position_no) }}
        {{ form_widget(form.position_no, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.jornada) }}
        {{ form_errors(form.jornada) }}
        {{ form_widget(form.jornada, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.required_studies) }}
        {{ form_errors(form.required_studies) }}
        <div class="row">

        <div class="col-md-6">
            <div>
            <input type="checkbox" id="studies1" value="1" />
            <label for="studies1">Ciclo Medio Comercio</label>
          
            <input type="checkbox" id="studies2" value="1" />
            <label for="studies2">Ciclo Medio Gestión Administrativa</label>
            </div>
            <div>
            <input type="checkbox" id="studies3" value="1"  />
            <label for="studies3">Ciclo Medio Sistemas Microinformáticos y Redes</label>
           
            <input type="checkbox" id="studies4" value="1"  />
            <label for="studies4">FP Básica</label>
            </div>
        </div>
          <div class="col-md-6">
            <div>
            <input type="checkbox" id="studies1" value="1" />
            <label for="studies1">Ciclo Superior Administración y Finanzas</label>
            | 
            <input type="checkbox" id="studies2" value="1" />
            <label for="studies2">Ciclo Superior Transporte y Logística</label>
            </div>
             <div>
            <input type="checkbox" id="studies3" value="1"  />
            <label for="studies3">Ciclo Superior Comercio Internacional</label>

            <input type="checkbox" id="studies3" value="1"  />
            <label for="studies3">Ciclo Superior GVEC</label>
             </div>
              <div>
            <input type="checkbox" id="studies1" value="1" />
            <label for="studies1">Ciclo Superior Redes y Sistemas</label>
            | 
            <input type="checkbox" id="studies2" value="1" />
            <label for="studies2">Ciclo Superior de Desarrollo de Aplicaciones Informáticas</label>
            </div>
        </div>
        </div>
    </div>
        <div class="form-group">
        {{ form_label(form.required_languages) }}
        {{ form_errors(form.required_languages) }}
        <div class="row">

        <div class="col-md-6">
            <div>
            <input type="checkbox" id="studies1" value="1" />
            <label for="studies1">Euskara</label>
          
            <input type="checkbox" id="studies2" value="1" />
            <label for="studies2">Inglés</label>
            </div>
            <div>
            <input type="checkbox" id="studies3" value="1"  />
            <label for="studies3">Francés</label>
           
            <input type="checkbox" id="studies4" value="1"  />
            <label for="studies4">Alemán</label>
            
            <input type="checkbox" id="studies4" value="1"  />
            <label for="studies5">Otros</label>
            </div>
        </div>
        
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.other_knowledges) }}
        {{ form_errors(form.other_knowledges) }}
        {{ form_widget(form.other_knowledges, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.observations) }}
        {{ form_errors(form.observations) }}
        {{ form_widget(form.observations, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.contact) }}
        {{ form_errors(form.contact) }}
        {{ form_widget(form.contact, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.position_no) }}
        {{ form_errors(form.position_no) }}
        {{ form_widget(form.position_no, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.save, {'attr': {'class': 'form-control'}}) }}
    </div>
</form>

{% endblock %}