<div class='post'>
	<div class='title'>{{ center.name }}</div> 
		<div class='text'>{{ center.id }}</div> 
		<div class='author'>by {{ center.name }}</div> 
		{% if is_granted('ROLE_ADMIN') %}
			<div>        
                <a href="{{ path('cuatrovientos_artean_center_detail', {'id': center.id }) }}">Detail</a> |
                <a href="{{ path('cuatrovientos_artean_center_update', {'id': center.id }) }}">Update</a> |
                <a href="{{ path('cuatrovientos_artean_center_delete', {'id': center.id }) }}">Delete</a>                      
		    </div>
		{% endif %}
</div>
