
{# src/Samples/BlogBundle/Resources/views/simple.html.twig #}
{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Solicitud de candidatos para Oferta de empleo{% endblock %}
{% block body %}
Nueva solicitud y oferta de empleo para
 {{ offer.company }}.
 <p>La empresa ha iniciado un proceso de solicitud de candidatos en el portal con las siguientes especificaciones</p>
 <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Nueva oferta</th>
    </tr>    
    </thead>
     <tbody>
    <tr>
      <th scope="row">Empresa</th>
      <td>{{ offer.company }}</td>
    </tr>
    <tr>
      <th scope="row">Puesto</th>
      <td>{{ offer.position }}</td>
    </tr>
    <tr>
      <th scope="row">Descripción</th>
      <td>{{ offer.description }}</td>
    </tr>
    <tr>
      <th scope="row">Jornada</th>
      <td>{{ offer.workday }}</td>
    </tr>
    <tr>
      <th scope="row">Observaciones</th>
      <td>{{ offer.observations }}</td>
    </tr>
    <tr>
      <th scope="row">Contact</th>
      <td>{{ offer.contact }}</td>
    </tr>
     </tbody>
 </table>
{% endblock %}