
<div class="mb-4">

    {% if applicant.cv !="" %}
        <a href="{{ asset('uploads/cvs/' ~ applicant.cv) }}" target="_blank"><i class="fa fa-file-text-o" aria-hidden="true"></i> Ver CV</a>
        {% if is_granted('ROLE_ADMIN') %}
            <span><a href="{{ path('cuatrovientos_artean_applicant_admin_delete_cv', {'applicantid': applicant.id }) }}" class="delete"><i class="fa fa-trash-o"></i> Eliminar CV</a></span>
        {% else %}
            <span><a href="{{ path('cuatrovientos_artean_applicant_delete_cv') }}" class="delete"><i class="fa fa-trash-o"></i> Eliminar CV</a></span>
        {% endif %}
    {% endif %}
    <div class="photo">
        {% if applicant.photo != "" %}
            <img src="{{ asset('uploads/photos/' ~ applicant.photo) }}" class="img-responsive photo" />
            {% if is_granted('ROLE_ADMIN') %}
                <div><a href="{{ path('cuatrovientos_artean_applicant_admin_delete_photo', {'applicantid': applicant.id })  }}" class="delete"><i class="fa fa-trash-o"></i> Eliminar foto</a></div>
            {% else %}
                <div><a href="{{ path('cuatrovientos_artean_applicant_delete_photo') }}" class="delete"><i class="fa fa-trash-o"></i> Eliminar foto</a></div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% if is_granted('ROLE_ADMIN') %}
<form method="post" action="{{ path('cuatrovientos_artean_applicant_admin_update') }}">
    {% else %}
<form method="post" action="{{ path('cuatrovientos_artean_applicant_dashboard_update') }}">
{% endif %}

    {{ form_errors(form) }}
    {{ form_widget(form.id) }}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.surname) }}
        {{ form_errors(form.surname) }}
        {{ form_widget(form.surname, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.mobile) }}
        {{ form_errors(form.mobile) }}
        {{ form_widget(form.mobile, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.web) }}
        {{ form_errors(form.web) }}
        {{ form_widget(form.web, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.address) }}
        {{ form_errors(form.address) }}
        {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.city) }}
        {{ form_errors(form.city) }}
        {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.province) }}
        {{ form_errors(form.province) }}
        {{ form_widget(form.province, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.postalCode) }}
        {{ form_errors(form.postalCode) }}
        {{ form_widget(form.postalCode, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.phone) }}
        {{ form_errors(form.phone) }}
        {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.drivingLicense) }}
        {{ form_errors(form.drivingLicense) }}
        {{ form_widget(form.drivingLicense, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.move) }}
        {{ form_errors(form.move) }}
        {{ form_widget(form.move, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.birth) }}
        {{ form_errors(form.birth) }}
        {{ form_widget(form.birth, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.resume) }}
        {{ form_errors(form.resume) }}
        {{ form_widget(form.resume, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_row(form._token) }}
        {{ form_widget(form.save, {'attr': {'class': 'form-control'}}) }}
    </div>
</form>