{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Datos aspirante{% endblock %}
{% block extrastyles %}
    <style>
        {% include "CuatrovientosArteanBundle:Applicant/Studies:studies.select.css" %}
    </style>
{% endblock %}
{% block body %}
<h1><i class="fa fa-user"></i> {{ applicant.surname }}, {{ applicant.name }} </h1>
    {% include "CuatrovientosArteanBundle:Default:flash.html.twig" %}
    <div>
    {% if applicant.active %}
       Habilitado  <a href="{{ path('cuatrovientos_artean_applicant_admin_toggle', {'id': applicant.id }) }}" data-id="{{ applicant.id }}" data-status="{{ applicant.active }}" id="applicant_active_{{ applicant.id }}" class="applicant-toggle btn btn-success"><i class="fa fa-toggle-on" aria-hidden="true"> Sí</i></a>
    {% else %}
       Habilitado <a href="{{ path('cuatrovientos_artean_applicant_admin_toggle', {'id': applicant.id }) }}" data-id="{{ applicant.id }}" data-status="{{ applicant.active }}" id="applicant_active_{{ applicant.id }}" class="applicant-toggle  btn btn-warning"><i class="fa fa-toggle-off" aria-hidden="true"> No</i></a>
    {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            {% if applicant.user is not null %}
                <a href="{{ path('cuatrovientos_artean_applicant_admin_reset_password', {'id': applicant.id }) }}"  class="btn btn-warning"><i class="fa fa-lock" aria-hidden="true"> Resetear password</i></a>
                Login: {{ applicant.user.username }}
                {% else %}
                    <a href="{{ path('cuatrovientos_artean_applicant_admin_create_account', {'id': applicant.id }) }}"  class="btn btn-success"><i class="fa fa-lock" aria-hidden="true"> Crear cuenta de acceso</i></a>
            {% endif %}
        {% endif %}
        </div>

    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"><i class="fa fa-user"></i> Datos personales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#stud" role="tab" data-toggle="tab"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Estudios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#lang" role="tab" data-toggle="tab"><i class="fa fa-language" aria-hidden="true"></i> Idiomas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#exp" role="tab" data-toggle="tab"><i class="fa fa-industry" aria-hidden="true"></i> Experiencia laboral</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#upload" role="tab" data-toggle="tab"><i class="fa fa-upload" aria-hidden="true"></i> Subir CV/Foto</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane in active" id="profile">
                {% include "CuatrovientosArteanBundle:Applicant:applicantForm.html.twig" %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="stud">
                {% include "CuatrovientosArteanBundle:Applicant/Studies:studies.html.twig" %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="lang">
                {% include "CuatrovientosArteanBundle:Applicant/Languages:languages.html.twig" %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="exp">
                {% include "CuatrovientosArteanBundle:Applicant/Jobs:jobs.html.twig" %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="upload">
                {% include "CuatrovientosArteanBundle:Applicant:uploadForms.html.twig" %}
            </div>
        </div>
    </div>


{% endblock %}
{% block extrascripts %}
    {% javascripts
    '@CuatrovientosArteanBundle/Resources/public/js/selectize.js'
    '@CuatrovientosArteanBundle/Resources/public/js/es5.js'
    %}
    <!-- Optionally enable responsive features in IE8 -->
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script language="javascript">
        $('#applicant_studies_center').selectize({
            valueField: 'id',
            labelField: 'name',
            searchField: 'name',
            options: [],
            create: true,
            render: {
                option: function(item, escape) {
                    return '<div>' +
                            '<span class="title">' +
                            '<span class="name">' + escape(item.name) +  '</span>' +
                            '</span>' +
                            '</div>';
                }
            },
            load: function(query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '{{ path('cuatrovientos_artean_api_center_index') }}',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        term: query,
                        page_limit: 100,
                    },
                    error: function() {
                        callback();
                    },
                    success: function(res) {
                        if (res.length === 0) {
                            console.log('Nothing found');
                        } else {
                            console.log(res);
                            callback(res);
                        }
                    }
                });
            }
        });

        $('#applicant_studies_studies').selectize({
            valueField: 'id',
            labelField: 'name',
            searchField: 'name',
            options: [],
            create: true,
            render: {
                option: function(item, escape) {
                    return '<div>' +
                            '<span class="title">' +
                            '<span class="name">' + escape(item.name) +  '</span>' +
                            '</span>' +
                            '</div>';
                }
            },
            load: function(query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '{{ path('cuatrovientos_artean_api_studies_index') }}',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        term: query,
                        page_limit: 100,
                    },
                    error: function() {
                        callback();
                    },
                    success: function(res) {
                        if (res.length === 0) {
                            console.log('Nothing found');
                        } else {
                            console.log(res);
                            callback(res);
                        }
                    }
                });
            }
        });

        $('#applicant_job_company').selectize({
            valueField: 'id',
            labelField: 'empresa',
            searchField: 'empresa',
            options: [],
            create: true,
            render: {
                option: function(item, escape) {
                    return '<div>' +
                            '<span class="title">' +
                            '<span class="empresa">' + escape(item.empresa) +  '</span>' +
                            '</span>' +
                            '</div>';
                }
            },
            load: function(query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '{{ path('cuatrovientos_artean_api_company_index') }}',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        term: query,
                        page_limit: 100,
                    },
                    error: function() {
                        callback();
                    },
                    success: function(res) {
                        if (res.length === 0) {
                            console.log('Nothing found');
                        } else {
                            console.log(res);
                            callback(res);
                        }
                    }
                });
            }
        });


    </script>
    {% include "CuatrovientosArteanBundle:Applicant:toggleScript.html.twig" %}

{% endblock %}

