{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Cursos :: Detalle de profesor {% endblock %}
{% block body %}
    <h2><i class="fa fa-industry" aria-hidden="true"></i> Fcts</h2>

    <a href="{{ path('cuatrovientos_artean_teachercourse') }}" class="btn">
        <i class="fa fa-list-alt" aria-hidden="true"></i> Ver todos
    </a>
    <h3><i class="fa fa-search-plus" aria-hidden="true"></i> Detalle de Fct</h3>
    <a href="{{ path('cuatrovientos_artean_teachercourse_update', {'id': teachercourse.id }) }}" class="btn btn-warning"><i class="fa fa-edit" aria-hidden="true"></i> Modificar</a>
    <ul>
     <li><strong>Id: </strong>{{ teacherCourse.id }}</li>
        <li><strong>Profesor/a: </strong>{{ teacherCourse.applicant.surname }}, {{ teacherCourse.applicant.name }}</li>
        <li><strong>Curso: </strong>{{ teachercourse.courseCode }}</li>
        <li><strong>Horas: </strong>{{ teachercourse.hours }}</li>
    </ul>
		{#% if is_granted('ROLE_ADMIN') %#}
                <a href="{{ path('cuatrovientos_artean_teachercourse') }}">Index</a> |
                <a href="{{ path('cuatrovientos_artean_teachercourse_update', {'id': teachercourse.id }) }}">Modificar</a> |
                <a href="{{ path('cuatrovientos_artean_teachercourse_delete', {'id': teachercourse.id }) }}">Eliminar</a>
		{#% endif % #}
{% endblock %}