<div class="modal-dialog">
   <div class="modal-header">
      <h4 class="modal-title">Añadir profesor</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="close">
         <i class="fa fa-search" aria-hidden="true"></i> Cerrar
      </button>
   </div>
   <div class="modal-body">
<h3><i class="fa fa-plus" aria-hidden="true"></i> Nuevo/a profesor/a</h3>
<form method="post" action="{{ path('cuatrovientos_artean_teachercourse_new_save') }}">
   {{ form_errors(teacherForm) }}
   {{ form_widget(teacherForm.id) }}
   <input type="hidden" id="{{ teacherForm.course.vars.id }}"
          name="{{ teacherForm.course.vars.full_name }}" value="{{ teacherForm.course.vars.value }}" >
   <div class="form-group">
      <label for="teachercourse_applicant" class="required">Profesor/a</label>
      <select id="teachercourse_applicant" name="teacher_course[applicantName]">
      </select>
   </div>

   <div class="form-group">
      {{ form_label(teacherForm.hours) }}
      {{ form_errors(teacherForm.hours) }}
      {{ form_widget(teacherForm.hours, {'attr': {'class': 'form-control'}}) }}
   </div>
   <div class="form-group">
      {{ form_row(teacherForm._token) }}
      {{ form_widget(teacherForm.save, {'attr': {'class': 'form-control'}}) }}
   </div>
</form>
   </div>
   <div class="modal-footer">
      <button type="button" class="close" data-dismiss="modal" aria-label="close">
         <i class="fa fa-search" aria-hidden="true"></i> Cerrar
      </button>
   </div>
</div>