
     <h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Actualizar profesor de curso {{ id }}</h3>
<form method="post" action="{{ path('cuatrovientos_artean_teachercourse_update_save') }}">
     {{ form_errors(teacherForm) }}
     {{ form_widget(teacherForm.id) }}
     <input type="hidden" id="{{ form.course.vars.id }}"
            name="{{ teacherForm.course.vars.full_name }}" value="{{ teacherForm.course.vars.value }}" >
     <div class="form-group">
          <label for="teachercourse_applicant" class="required">Profesor</label>
          <select id="teachercourse_applicant" name="teacher_course[applicantName]">
               <option value="{{ teacherCourse.user.id }}">{{ teacherCourse.user.fullname }}</option>
          </select>
     </div>
     <div class="form-group">
          {{ form_label(teacherForm.hours) }}
          {{ form_errors(teacherForm.hours) }}
          {{ form_widget(teacherForm.hours, {'attr': {'class': 'form-control'}}) }}
     </div>
     <div class="form-group">
          {{ form_row(teacherForm._token) }}
          {{ form_widget(teacherForm.save, {'attr': {'class': 'form-control'}}) }}
     </div>
</form>
{% endblock %}