<tr>
     <td>{{ company.id }}</td>
     <td>{{ company.empresa }}</td>
		{#% if is_granted('ROLE_ADMIN') %#}
			<td>        
                <a href="{{ path('cuatrovientos_artean_company_detail', {'id': company.id }) }}" class="btn btn-primary"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                <a href="{{ path('cuatrovientos_artean_company_update', {'id': company.id }) }}" class="btn btn-warning"><i class="fa fa-edit" aria-hidden="true"></i> </a>
                <a href="{{ path('cuatrovientos_artean_company_delete', {'id': company.id }) }}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> </a>
		    </td>
		{#% endif % #}
<//tr>
