<tr>
     <td>{{ company.id }}</td>
     <td>{{ company.empresa }}</td>
		{#% if is_granted('ROLE_ADMIN') %#}
			<td>        
                <a href="{{ path('cuatrovientos_artean_company_detail', {'id': company.id }) }}">Detail<span class="glyphicon glyphicon-heart"></span></a> |
                <a href="{{ path('cuatrovientos_artean_company_update', {'id': company.id }) }}">Update</a> |
                <a href="{{ path('cuatrovientos_artean_company_delete', {'id': company.id }) }}">Delete</a>
		    </td>
		{#% endif % #}
<//tr>
