{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Empresa : Detalle empresa{% endblock %}
{% block body %}
    <h2><i class="fa fa-industry" aria-hidden="true"></i> Empresas</h2>

    <a href="{{ path('cuatrovientos_artean_company') }}" class="btn">
        <i class="fa fa-list-alt" aria-hidden="true"></i> Ver todas
    </a>
    <h3><i class="fa fa-search-plus" aria-hidden="true"></i> Detalle de empresa</h3>
    <a href="{{ path('cuatrovientos_artean_company_update', {'id': company.id }) }}" class="btn btn-warning"><i class="fa fa-edit" aria-hidden="true"></i> Modificar</a>
<ul>
     <li><strong>Id: </strong>{{ company.id }}</li>
     <li><strong>Nombre: </strong>{{ company.empresa }}</li>
    <li><strong>Actividad: </strong>{{ company.actividad }}</li>
    <li><strong>Contacto: </strong>{{ company.contacto }}</li>
    <li><strong>Email: </strong>{{ company.email }}</li>
    <li><strong>Teléfono: </strong>{{ company.telefono }}</li>
    <li><strong>Convenio: </strong>
        {{  company.convenio }} ,
        {% for degree in company.degrees %}
            {{ degree.name }},
        {% endfor %}
    </li>

</ul>
		{#% if is_granted('ROLE_ADMIN') %#}
                <a href="{{ path('cuatrovientos_artean_company') }}">Index</a> |
                <a href="{{ path('cuatrovientos_artean_company_update', {'id': company.id }) }}">Update</a> |
                <a href="{{ path('cuatrovientos_artean_company_delete', {'id': company.id }) }}">Delete</a>
		{#% endif % #}
{% endblock %}