{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Datos aspirante{% endblock %}
{% block extrastyles %}
<style>
    {% include "CuatrovientosArteanBundle:Applicant/Studies:studies.select.css" %}
</style>
{% endblock %}
{% block body %}
<h1>Aspirante</h1>
<form method="post" action="{{ path('cuatrovientos_artean_applicant_dashboard_update_studies_save') }}">
    {{ form_errors(formStudies) }}
    {{ form_widget(formStudies.id) }}
    <div class="form-group">
        {{ form_label(formStudies.description) }}
        {{ form_errors(formStudies.description) }}
        {{ form_widget(formStudies.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        <label for="applicant_studies_studies" class="required">Estudios</label>
        <select id="applicant_studies_studies" name="applicant_studies[studiesValue]">
            <option value="{{ applicantStudies.studies.id }}">{{ applicantStudies.studies.name }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="applicant_studies_center" class="required">Centro</label>
        <select id="applicant_studies_center" name="applicant_studies[centerValue]">
            <option value="{{ applicantStudies.center.id }}">{{ applicantStudies.center.name }}</option>
        </select>
    </div>
    <div class="form-group">
        {{ form_label(formStudies.endYear) }}
        {{ form_errors(formStudies.endYear) }}
        {{ form_widget(formStudies.endYear, {'attr': {'class': 'form-control'}}) }}
    </div>


    <div class="form-group">
        {{ form_row(formStudies._token) }}
        {{ form_widget(formStudies.save, {'attr': {'class': 'form-control'}}) }}
    </div>
</form>
{% endblock %}
{% block extrascripts %}
    {% javascripts
    '@CuatrovientosArteanBundle/Resources/public/js/selectize.js'
    '@CuatrovientosArteanBundle/Resources/public/js/es5.js'
    %}
    <!-- Optionally enable responsive features in IE8 -->
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script language="javascript">
        $('#applicant_studies_center').selectize({
            valueField: 'id',
            labelField: 'name',
            searchField: 'name',
            options: [],
            create: true,
            render: {
                option: function(item, escape) {
                    return '<div>' +
                            '<span class="title">' +
                            '<span class="name">' + escape(item.name) +  '</span>' +
                            '</span>' +
                            '</div>';
                }
            },
            load: function(query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '{{ path('cuatrovientos_artean_api_center_index') }}',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        term: query,
                        page_limit: 100,
                    },
                    error: function() {
                        callback();
                    },
                    success: function(res) {
                        if (res.length === 0) {
                            console.log('Nothing found');
                        } else {
                            console.log(res);
                            callback(res);
                        }
                    }
                });
            }
        });

        $('#applicant_studies_studies').selectize({
            valueField: 'id',
            labelField: 'name',
            searchField: 'name',
            options: [],
            create: true,
            render: {
                option: function(item, escape) {
                    return '<div>' +
                            '<span class="title">' +
                            '<span class="name">' + escape(item.name) +  '</span>' +
                            '</span>' +
                            '</div>';
                }
            },
            load: function(query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '{{ path('cuatrovientos_artean_api_studies_index') }}',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        term: query,
                        page_limit: 100,
                    },
                    error: function() {
                        callback();
                    },
                    success: function(res) {
                        if (res.length === 0) {
                            console.log('Nothing found');
                        } else {
                            console.log(res);
                            callback(res);
                        }
                    }
                });
            }
        });

    </script>
{% endblock %}

