{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Cursos : Detalle curso{% endblock %}

{% block body %}
    <style>
        {% include "CuatrovientosArteanBundle:Applicant/Studies:studies.select.css" %}
    </style>
    <h2><i class="fa fa-industry" aria-hidden="true"></i> Curso</h2>

    <a href="{{ path('cuatrovientos_artean_course') }}" class="btn">
        <i class="fa fa-list-alt" aria-hidden="true"></i> Ver todos
    </a>
    <h3><i class="fa fa-search-plus" aria-hidden="true"></i> Detalle de curso</h3>
    <a href="{{ path('cuatrovientos_artean_course_update', {'id': course.id }) }}" class="btn btn-warning"><i class="fa fa-edit" aria-hidden="true"></i> Modificar</a>
    <ul>
     <li><strong>Id: </strong>{{ course.id }}</li> 
     <li><strong>Name: </strong>{{ course.name }}</li>
        <li><strong>Fecha inicio: </strong>{{ course.startDate|date('d-m-Y') }}</li>
        <li><strong>Fecha fin: </strong>{{ course.endDate|date('d-m-Y') }}</li>
        <li><strong>Total horas: </strong>{{ course.hours }}</li>
        <li><strong>Horario: </strong>{{ course.timetable }}</li>
        <li><strong>Días de clase: </strong>{{ course.classHoursDay }}</li>
        <li><strong>Horas por día: </strong>{{ course.hoursDay }}</li>
        <li><strong>Tipo de curso: </strong>{{ course.courseType }}</li>
        <li><strong>Días: </strong>{{ course.days }}</li>
        <li><strong>Familia: </strong>{{ course.family }}</li>
        <li><strong>Nivel: </strong>{{ course.level }}</li>
        <li><strong>Aula: </strong>{{ course.classroom }}</li>
        <li><strong>Inicio segundo cuatrimestre: </strong>{{ course.startSecondTerm }}</li>
        <li><strong>Precio primer trimestre: </strong>{{ course.priceFirstTerm }}</li>
        <li><strong>Precio segundo trimestre: </strong>{{ course.priceSecondTerm }}</li>
        <li><strong>Reserva matrícula: </strong>{{ course.book }}</li>


    </ul>
    {% include "CuatrovientosArteanBundle:Course/StudentCourse:index.html.twig" %}
    {% include "CuatrovientosArteanBundle:Course/TeacherCourse:index.html.twig" %}
		{#% if is_granted('ROLE_ADMIN') %#}
                <a href="{{ path('cuatrovientos_artean_course') }}">Index</a> |
                <a href="{{ path('cuatrovientos_artean_course_update', {'id': course.id }) }}">Update</a> |
                <a href="{{ path('cuatrovientos_artean_course_delete', {'id': course.id }) }}">Delete</a>                      
		{#% endif % #}
{% endblock %}
{% block extrascripts %}
    {% javascripts
    '@CuatrovientosArteanBundle/Resources/public/js/selectize.js'
    '@CuatrovientosArteanBundle/Resources/public/js/es5.js'
    %}
    <!-- Optionally enable responsive features in IE8 -->
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script language="javascript">

        $('#studentcourse_applicant').selectize({
            valueField: 'id',
            labelField: 'name',
            searchField: 'name',
            options: [],
            create: true,
            render: {
                option: function(item, escape) {
                    return '<div>' +
                            '<span class="title">' +
                            '<span class="nombre">' + escape(item.name) +  '</span>' +
                            '</span>' +
                            '</div>';
                }
            },
            load: function(query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '{{ path('cuatrovientos_artean_api_applicant_index') }}',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        term: query,
                        page_limit: 100,
                    },
                    error: function() {
                        callback();
                    },
                    success: function(res) {
                        if (res.length === 0) {
                            console.log('Nothing found');
                        } else {
                            console.log(res);
                            callback(res);
                        }
                    }
                });
            }
        });

        $('#teachercourse_applicant').selectize({
            valueField: 'id',
            labelField: 'name',
            searchField: 'name',
            options: [],
            create: true,
            render: {
                option: function(item, escape) {
                    return '<div>' +
                            '<span class="title">' +
                            '<span class="nombre">' + escape(item.name) +  '</span>' +
                            '</span>' +
                            '</div>';
                }
            },
            load: function(query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '{{ path('cuatrovientos_artean_api_applicant_index') }}',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        term: query,
                        page_limit: 100,
                    },
                    error: function() {
                        callback();
                    },
                    success: function(res) {
                        if (res.length === 0) {
                            console.log('Nothing found');
                        } else {
                            console.log(res);
                            callback(res);
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}