{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Parte semanal ::{{ workOrder.id }}{% endblock %}
{% block body %}
	<h2>Partes de trabajo</h2>

	<a href="{{ path('cuatrovientos_artean_workorder') }}" class="btn">
		<i class="fa fa-list-alt" aria-hidden="true"></i> Ver todos
	</a>

	<h3><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar parte {{ workOrder.id }}</h3>
 <div id='posts'>
		<div>

			{% trans %}Estás seguro{% endtrans %}
			<div class='title'>{{ workOrder.orderDate|date('d-m-Y') }} : {{ workOrder.description }} </div>
			<div><a href="{{ path('cuatrovientos_artean_workorder_delete_save',  {'id': workOrder.id }) }}" class="btn btn-danger">Confirmar borrado</a>
			 <a href="javascript:history.back()"  class="btn btn-warning">Cancelar</a> </div>
		</div>
</div>
{% endblock %}