{% extends "CuatrovientosArteanBundle:Default:workOrderLayout.html.twig" %}
{% block title %}Partes semanales::Nuevo{% endblock %}
{% block body %}
    <h2>Partes de trabajo</h2>

    <a href="{{ path('cuatrovientos_artean_workorder') }}" class="btn">
    <i class="fa fa-list-alt" aria-hidden="true"></i> Ver todos
</a>

<h3><i class="fa fa-plus" aria-hidden="true"></i> Nuevo parte de trabajo</h3>
<form method="post" action="{{ path('cuatrovientos_artean_workorder_new_save') }}">
   {# { form_widget(form) } #}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.orderDate) }}
        {{ form_errors(form.orderDate) }}
        {{ form_widget(form.orderDate, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.hours) }}
        {{ form_errors(form.hours) }}
        {{ form_widget(form.hours, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form._token) }}
        {{ form_widget(form.save, {'attr': {'class': 'form-control'}}) }}
    </div>
</form>

{% endblock %}