
{# src/Cuatrovientos/ArteanBundle/Resources/views/Center/new.html.twig #}
{% extends "CuatrovientosArteanBundle:Default:layoutStars.html.twig" %}
{% block title %}Nueva Oferta{% endblock %}
{% block body %}

<h2>Nueva proceso de selección</h2>
                   {% image '@CuatrovientosArteanBundle/Resources/public/img/process.png' %}
                        <img src="{{ asset_url }}"  alt="darest candidates" title="fearless candidate"/>
                    {% endimage %}
<form method="post" action="{{ path('cuatrovientos_artean_open_offer_save') }}">
   {# { form_widget(form) } #}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.company) }}
        {{ form_errors(form.company) }}
        {{ form_widget(form.company, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.position) }}
        {{ form_errors(form.position) }}
        {{ form_widget(form.position, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.position_no) }}
        {{ form_errors(form.position_no) }}
        {{ form_widget(form.position_no, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.contract_type) }}
        {{ form_errors(form.contract_type) }}
        {{ form_widget(form.contract_type, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.workday) }}
        {{ form_errors(form.workday) }}
        {{ form_widget(form.workday, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.required_studies) }}
        {{ form_errors(form.required_studies) }}
     {{ form_widget(form.required_studies) }}
       {# <div class="col-md-6">
            <div>
            <input type="checkbox" name="offer[required_studies][]" id="studies1" value="1" />
            <label for="studies1">Ciclo Medio Comercio</label>
          
            <input type="checkbox" name="offer[required_studies][]" id="studies2" value="1" />
            <label for="studies2">Ciclo Medio Gestión Administrativa</label>
            </div>
            <div>
            <input type="checkbox" name="offer[required_studies][]" id="studies3" value="1"  />
            <label for="studies3">Ciclo Medio Sistemas Microinformáticos y Redes</label>
           
            <input type="checkbox" name="offer[required_studies][]" id="studies4" value="1"  />
            <label for="studies4">FP Básica</label>
            </div>
        </div>
          <div class="col-md-6">
            <div>
            <input type="checkbox" name="offer[required_studies][]" id="studies1" value="1" />
            <label for="studies1">Ciclo Superior Administración y Finanzas</label>
            | 
            <input type="checkbox" name="offer[required_studies][]" id="studies2" value="1" />
            <label for="studies2">Ciclo Superior Transporte y Logística</label>
            </div>
             <div>
            <input type="checkbox" name="offer[required_studies][]" id="studies3" value="1"  />
            <label for="studies3">Ciclo Superior Comercio Internacional</label>

            <input type="checkbox" name="offer[required_studies][]" id="studies3" value="1"  />
            <label for="studies3">Ciclo Superior GVEC</label>
             </div>
              <div>
            <input type="checkbox" name="offer[required_studies][]" id="studies1" value="1" />
            <label for="studies1">Ciclo Superior Redes y Sistemas</label>
            | 
            <input type="checkbox" name="offer[required_studies][]" id="studies2" value="1" />
            <label for="studies2">Ciclo Superior de Desarrollo de Aplicaciones Informáticas</label>
            </div>
        </div>
       #}
   
    </div>
        <div class="form-group">
        {{ form_label(form.required_languages) }}
        {{ form_errors(form.required_languages) }}
        {{ form_widget(form.required_languages) }}
        <!--div class="col-md-6">
            <div>
            <input type="checkbox" name="offer[required_languages]" id="languages1" value="1" />
            <label for="languages1">Euskara</label>
            </div>
            <div>
            <input type="checkbox" name="offer[required_languages]" id="languages2" value="1" />
            <label for="languages2">Inglés</label>
            </div>
            <div>
            <input type="checkbox" name="offer[required_languages]" id="languages3" value="1"  />
            <label for="languages3">Francés</label>
            </div>
            <div>
            <input type="checkbox" name="offer[required_languages]" id="languages4" value="1"  />
            <label for="languages4">Alemán</label>
            </div>
            <div>            
            <input type="checkbox" name="offer[required_languages]" id="languages5" value="1"  />
            <label for="languages5">Otros</label>
            </div>
        </div-->
    </div>
    <div class="form-group">
        {{ form_label(form.other_knowledges) }}
        {{ form_errors(form.other_knowledges) }}
        {{ form_widget(form.other_knowledges, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.observations) }}
        {{ form_errors(form.observations) }}
        {{ form_widget(form.observations, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.contact) }}
        {{ form_errors(form.contact) }}
        {{ form_widget(form.contact, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form._token) }}
        {{ form_widget(form.save, {'attr': {'class': 'form-control'}}) }}
    </div>
</form>

{% endblock %}