{% extends "CuatrovientosArteanBundle:Default:workOrderPrint.html.twig" %}
{% block title %}Partes semanales::Index{% endblock %}
{% block body %}
    <h3>{{ name }}</h3>
    <div>
       Semanas:  {{ init }} - {{ end }}
     </div>

<div class="workorders">

        {% for workOrder in workOrders %}
            <div class="workorder">
                <div><h4>{{ workOrder.orderDate|date('d-m-Y') }}</h4></div>
                <div>{{ workOrder.description }}</div>
                <div><b>Horas: {{ workOrder.hours }}</b></div>
            </div>
        {% endfor %}
</div>
{% endblock %}