{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Partes semanales::Index{% endblock %}
{% block body %}
{% trans %}Partes introducidos por el alumnado{% endtrans %}

    <h2>Partes de trabajo</h2>

    <a href="{{ path('cuatrovientos_artean_workorder') }}" class="btn">
        <i class="fa fa-list-alt" aria-hidden="true"></i> Ver todos
    </a>
    <h3><i class="fa fa-search-plus" aria-hidden="true"></i> Detalle parte de trabajo</h3>
    <a href="{{ path('cuatrovientos_artean_workorder_update', {'id': workOrder.id }) }}" class="btn btn-warning"><i class="fa fa-edit" aria-hidden="true"></i> Modificar</a>
 <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Detalle de parte de trabajo</th>
    </tr>
    </thead>
     <tbody>
    <tr>
      <th scope="row">id</th>
      <td>{{ workOrder.id }}</td>
    </tr>
    <tr>
      <th scope="row">Fecha</th>
      <td>{{ workOrder.orderDate|date('d-m-Y') }}</td>
    </tr>
    <tr>
      <th scope="row">Descripción</th>
      <td>{{ workOrder.description }}</td>
    </tr>
    <tr>
        <th scope="row">Hours</th>
        <td>{{ workOrder.hours }}</td>
    </tr>
     </tbody>
 </table>

</div>
{% endblock %}