<tr>
     <td>{{ workOrder.id }}</td>
     <td>{{ workOrder.orderDate|date('d-m-Y') }}</td>
     <td>{{ workOrder.description }}</td>
		{#% if is_granted('ROLE_ADMIN') %#}
			<td>        
                <a href="{{ path('cuatrovientos_artean_workorder_detail', {'id': workOrder.id }) }}" class="btn btn-primary"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                <a href="{{ path('cuatrovientos_artean_workorder_update', {'id': workOrder.id }) }}" class="btn btn-warning"><i class="fa fa-edit" aria-hidden="true"></i> </a>
                <a href="{{ path('cuatrovientos_artean_workorder_delete', {'id': workOrder.id }) }}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> </a>
		    </td>
		{#% endif % #}
</tr>
