{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
    {% block title %}Artean :: Panel de administración{% endblock %}
{% block extrastyles %}
    <style>
        {% include "CuatrovientosArteanBundle:Applicant/Studies:studies.select.css" %}
    </style>
{% endblock %}
    {% block body %}
        <h2><i class="fa fa-home" aria-hidden="true"></i> Panel de administración </h2>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h3 class="sectiontitle"><a href="{{ path('cuatrovientos_artean_company') }}">Empresas</a></h3>
                <a href="{{ path('cuatrovientos_artean_company') }}" title="" class="btn">
                    {% image '@CuatrovientosArteanBundle/Resources/public/img/empresas.jpg' %}
                    <img src="{{ asset_url }}"  alt="Empresas" title="Empresas"/>
                    {% endimage %}
                </a>
                <div class="form-group">
                    <select id="company_search" name="applicant_job[companyName]" style="width:220px" placeholder="Buscar por nombre...">
                    </select>
                </div>
            </div>
            <div class="col-4">
                <h3 class="sectiontitle"><a href="{{ path('cuatrovientos_artean_applicant_admin') }}">Candidatos</a></h3>
                <a href="{{ path('cuatrovientos_artean_applicant_admin') }}" title="" class="btn">
                    {% image '@CuatrovientosArteanBundle/Resources/public/img/candidatos.jpg' %}
                    <img src="{{ asset_url }}"  alt="Candidatos" title="Candidatos"/>
                    {% endimage %}
                </a>
                <div class="form-group">
                    <select id="applicant_search" name="fct[applicantName]" style="width:220px" placeholder="Buscar por nombre...">
                    </select>
                </div>
            </div>
            <div class="col-4">
                <h3 class="sectiontitle"><a href="{{ path('cuatrovientos_artean_jobrequest') }}">Solicitudes</a></h3>
                <a href="{{ path('cuatrovientos_artean_jobrequest') }}" title="" class="btn">
                    {% image '@CuatrovientosArteanBundle/Resources/public/img/solicitudes.jpg' %}
                    <img src="{{ asset_url }}"  alt="Solicitudes" title="Solicitudes"/>
                    {% endimage %}
                </a>
                <div><a href="{{ path('cuatrovientos_artean_offer') }}">Ofertas publicadas por empresas</a></div>
            </div>
            </div>
        <div class="row">
            <div class="col-4">
                <h3 class="sectiontitle"><a href="{{ path('cuatrovientos_artean_course') }}">Cursos</a></h3>
                <a href="{{ path('cuatrovientos_artean_course') }}" title="" class="btn">
                    {% image '@CuatrovientosArteanBundle/Resources/public/img/cursos.jpg' %}
                    <img src="{{ asset_url }}"  alt="Cursos" title="Cursos"/>
                    {% endimage %}
                </a>
            </div>
            <div class="col-4">
                <h3 class="sectiontitle"><a href="{{ path('cuatrovientos_artean_news') }}">Contenidos</a></h3>
                <a href="{{ path('cuatrovientos_artean_news') }}" title="" class="btn">
                    {% image '@CuatrovientosArteanBundle/Resources/public/img/news.jpg' %}
                    <img src="{{ asset_url }}"  alt="Noticias" title="Noticias"/>
                    {% endimage %}
                </a>
                <div><a href="{{ path('cuatrovientos_artean_page') }}">Editar contenidos portal</a></div>
            </div>
            <div class="col-4">
                <h3 class="sectiontitle"><a href="{{ path('cuatrovientos_artean_fct') }}">FCTs</a></h3>
                <a href="{{ path('cuatrovientos_artean_fct') }}" title="" class="btn">
                    {% image '@CuatrovientosArteanBundle/Resources/public/img/fct.jpg' %}
                    <img src="{{ asset_url }}"  alt="FCTs" title="FCTs"/>
                    {% endimage %}
                </a>
                <div><a href="{{ path('cuatrovientos_artean_company_agreement') }}">Empresas con convenio</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h3 class="sectiontitle"><a href="{{ path('cuatrovientos_artean_mailing') }}">Mailing</a></h3>
                <a href="{{ path('cuatrovientos_artean_mailing') }}" title="" class="btn">
                    {% image '@CuatrovientosArteanBundle/Resources/public/img/mailing.jpg' %}
                    <img src="{{ asset_url }}"  alt="Mailing" title="Mailing"/>
                    {% endimage %}
                </a>
            </div>
            <div class="col-4">
                <h3 class="sectiontitle"><a href="javascript:alert('Paciencia Yolanda, esto todavía no es prioritario')">Indicadores</a></h3>
                <a href="javascript:alert('Paciencia Yolanda, esto todavía no es prioritario')" title="" class="btn">
                    {% image '@CuatrovientosArteanBundle/Resources/public/img/indicadores.jpg' %}
                    <img src="{{ asset_url }}"  alt="Indicadores" title="Indicadores"/>
                    {% endimage %}
                </a>
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>

{% endblock %}
{% block extrascripts %}
    {% javascripts
    '@CuatrovientosArteanBundle/Resources/public/js/selectize.js'
    '@CuatrovientosArteanBundle/Resources/public/js/es5.js'
    %}
    <!-- Optionally enable responsive features in IE8 -->
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script language="javascript">
        $('#company_search').selectize({
            valueField: 'id',
            labelField: 'empresa',
            searchField: 'empresa',
            options: [],
            create: true,
            render: {
                option: function(item, escape) {
                    return '<div>' +
                            '<span class="title">' +
                            '<span class="empresa">' + escape(item.empresa) +  '</span>' +
                            '</span>' +
                            '</div>';
                }
            },
            load: function(query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '{{ path('cuatrovientos_artean_api_company_index') }}',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        term: query,
                        page_limit: 100,
                    },
                    error: function() {
                        callback();
                    },
                    success: function(res) {
                        if (res.length === 0) {
                            console.log('Nothing found');
                        } else {
                            console.log(res);
                            callback(res);
                        }
                    }
                });
            },
            onChange:function(id){
                window.location.href = '{{ path('cuatrovientos_artean_company') }}' + '/' + id;
            }
        });

        $('#applicant_search').selectize({
            valueField: 'id',
            labelField: 'name',
            searchField: 'name',
            options: [],
            create: true,
            render: {
                option: function(item, escape) {
                    return '<div>' +
                            '<span class="title">' +
                            '<span class="nombre">' + escape(item.name) +  '</span>' +
                            '</span>' +
                            '</div>';
                }
            },
            load: function(query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '{{ path('cuatrovientos_artean_api_applicant_index') }}',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        term: query,
                        page_limit: 100,
                    },
                    error: function() {
                        callback();
                    },
                    success: function(res) {
                        if (res.length === 0) {
                            console.log('Nothing found');
                        } else {
                            console.log(res);
                            callback(res);
                        }
                    }
                });
            },
            onChange:function(id){
                window.location.href = '{{ path('cuatrovientos_artean_applicant_admin') }}';// + '/' + id;
            }
        });
    </script>
{% endblock %}

