{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
    {% block title %}Artean :: Panel de administración{% endblock %}
    {% block body %}
        <h2><i class="fa fa-industry" aria-hidden="true"></i> Panel de administración </h2>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h3>Empresas</h3>
                <a href="{{ path('cuatrovientos_artean_company') }}" title="" class="btn">
                    {% image '@CuatrovientosArteanBundle/Resources/public/img/empresas.jpg' %}
                    <img src="{{ asset_url }}"  alt="Empresas" title="Empresas"/>
                    {% endimage %}
                </a>
            </div>
            <div class="col-4">
                <h3>Candidatos</h3>
                <a href="{{ path('cuatrovientos_artean_applicant_admin') }}" title="" class="btn">
                    {% image '@CuatrovientosArteanBundle/Resources/public/img/candidatos.jpg' %}
                    <img src="{{ asset_url }}"  alt="Candidatos" title="Candidatos"/>
                    {% endimage %}
                </a>
            </div>
            <div class="col-4">
                <h3>Solicitudes</h3>
                <a href="{{ path('cuatrovientos_artean_jobrequest') }}" title="" class="btn">
                    {% image '@CuatrovientosArteanBundle/Resources/public/img/solicitudes.jpg' %}
                    <img src="{{ asset_url }}"  alt="Solicitudes" title="Solicitudes"/>
                    {% endimage %}
                </a>
            </div>
            </div>
        <div class="row">
            <div class="col-4">
                <h3>Noticias</h3>
                <a href="{{ path('cuatrovientos_artean_news') }}" title="" class="btn">
                    {% image '@CuatrovientosArteanBundle/Resources/public/img/news.jpg' %}
                    <img src="{{ asset_url }}"  alt="Noticias" title="Noticias"/>
                    {% endimage %}
                </a>
            </div>
            <div class="col-4">
                <h3>Cursos</h3>
                <a href="{{ path('cuatrovientos_artean_course') }}" title="" class="btn">
                    {% image '@CuatrovientosArteanBundle/Resources/public/img/cursos.jpg' %}
                    <img src="{{ asset_url }}"  alt="Cursos" title="Cursos"/>
                    {% endimage %}
                </a>
            </div>
            <div class="col-4">
                <h3>Mailing</h3>
                <a href="{{ path('cuatrovientos_artean_mailing') }}" title="" class="btn">
                    {% image '@CuatrovientosArteanBundle/Resources/public/img/mailing.jpg' %}
                    <img src="{{ asset_url }}"  alt="Mailing" title="Mailing"/>
                    {% endimage %}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <h3>Indicadores</h3>
                <a href="javascript:alert('Paciencia Yolanda, esto todavía no es prioritario')" title="" class="btn">
                    {% image '@CuatrovientosArteanBundle/Resources/public/img/indicadores.jpg' %}
                    <img src="{{ asset_url }}"  alt="Indicadores" title="Indicadores"/>
                    {% endimage %}
                </a>
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>

{% endblock %}