<a class="navbar-brand" href="{{ path('cuatrovientos_artean_applicant_dashboard') }}"><i class="fa fa-compass"></i> Artean</a>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href='{{ path('cuatrovientos_artean_applicant_dashboard') }}'><i class="fa fa-user" aria-hidden="true"></i> Perfil candidato</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href='{{ path('cuatrovientos_artean_workorder') }}'><i class="fa fa-file-text-o" aria-hidden="true"></i> Partes FCTs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href='{{ path('cuatrovientos_artean_profile') }}' title='Salir'><i class="fa fa-address-book-o" aria-hidden="true"></i> Cuenta</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link" href='{{ path('cuatrovientos_artean_homepage') }}' title='Portal' target="_blank"><i class="fa fa-home"></i> Ver portal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href='{{ path('user_logout') }}' title='Salir'><i class="fa fa-mail-forward"></i> Salir</a>
        </li>

    </ul>
</div>