<!DOCTYPE html>
<html>
<head>
<title>{% block title %}artean{% endblock title %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Bootstrap -->
{% stylesheets
    '@CuatrovientosArteanBundle/Resources/public/css/artean.css'
    '@CuatrovientosArteanBundle/Resources/public/css/bootstrap.min.css'
    '@CuatrovientosArteanBundle/Resources/public/css/bootstrap-theme.min.css'
    filter='cssrewrite' output='css/compiled/app.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" >
{% endstylesheets %}
{% block extrastyles %}{% endblock %}

{% block head %}{% endblock %}

</head>

<body>
<div class="container">
          <div class="masthead clearfix">
              <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                   {% if is_granted('ROLE_ADMIN')  %}
                       <a class="navbar-brand" href="{{ path('cuatrovientos_artean_admin_dashboard') }}"><i class="fa fa-compass"></i> Artean</a>
                       <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      <ul class="navbar-nav">
                          <li class="nav-item active">
                              <a class="nav-link" href='{{ path('cuatrovientos_artean_company') }}' title='Gestión de empresas'><i class="fa fa-building-o"></i> Empresas</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href='{{ path('cuatrovientos_artean_applicant_admin') }}'  title='Candidatos'><i class="fa fa-user"></i> Candidatos</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href='{{ path('cuatrovientos_artean_jobrequest') }}' title='Solicitudes'><i class="fa fa-bullhorn"></i> Solicitudes</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href='{{ path('cuatrovientos_artean_news') }}' title='Noticias'><i class="fa fa-news"></i> Noticias</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href='{{ path('cuatrovientos_artean_mailing') }}' title='Mailing'><i class="fa fa-mail-forward"></i> Mailing</a>
                          </li>
                          <li class="nav-item">
                              <a  class="nav-link" href='{{ path('cuatrovientos_artean_course') }}' title='Cursos'><i class="fa fa-graduation-cap"></i> Cursos</a>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link" class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Gestionar
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item" href="{{ path('cuatrovientos_artean_studies') }}">Titulaciones</a>
                                  <a class="dropdown-item" href="{{ path('cuatrovientos_artean_center') }}">Centros de estudios</a>
                                  <a class="dropdown-item" href="{{ path('cuatrovientos_artean_contracttype') }}">Tipos de contrato</a>
                              </div>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href='{{ path('user_logout') }}' title='Salir'><i class="fa fa-mail-forward"></i> Salir</a>
                          </li>

                      </ul>
                  </div>
                  {% elseif is_granted('ROLE_USER') %}
                      <a class="navbar-brand" href="{{ path('cuatrovientos_artean_applicant_dashboard') }}"><i class="fa fa-compass"></i> Artean</a>
                      <div class="collapse navbar-collapse" id="navbarNavDropdown">
                          <ul class="navbar-nav">
                              <!--li class="nav-item">
                                  <a class="nav-link" href='https://artean.cuatrovientos.org/?ap_manage_candidatos'><i class="fa fa-user"></i> Candidato</a>
                              </li-->
                              <li class="nav-item">
                                  <a class="nav-link" href='{{ path('cuatrovientos_artean_workorder') }}'><i class="fa fa-user"></i> Partes FCTs</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href='{{ path('user_logout') }}' title='Salir'><i class="fa fa-mail-forward"></i> Salir</a>
                              </li>

                          </ul>
                      </div>
                  {% endif %}
              </nav>


          </div>
    
{% block body %}{% endblock body %}

</div>
{% block javascripts %}
<!-- JavaScript plugins (requires jQuery) -->
<!--script src="//code.jquery.com/jquery.js"></script-->
<!--script src="https://use.fontawesome.com/09c458bfbf.js"></script-->

        <!-- Include all compiled plugins (below), or include individual files as needed -->

     {% javascripts
     '@CuatrovientosArteanBundle/Resources/public/js/jquery.min.js'
     '@CuatrovientosArteanBundle/Resources/public/js/tether.min.js'
     '@CuatrovientosArteanBundle/Resources/public/js/bootstrap.min.js'
     %}
        <!-- Optionally enable responsive features in IE8 -->
        <script src="{{ asset_url }}"></script> 
     {% endjavascripts %}

    
    {# % javascripts '@CuatrovientosArteanBundle/Resources/public/js/respond.js' % }
        <!-- Optionally enable responsive features in IE8 -->
        <script src="{{ asset_url }}"></script> 
     {  %endjavascripts % #}
{% endblock %}
{% block extrascripts %}{% endblock %}
</body>
</html>