{% extends "CuatrovientosArteanBundle:Default:default.html.twig" %}
{% if offer is not null %}
    {% block title %}Artean :: {{ offer.position }}{% endblock %}
    {% block body %}
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('cuatrovientos_artean_homepage') }}">Inicio</a></li>
                <li class="breadcrumb-item active">Ofertas</li>
                <li class="breadcrumb-item active">{{ offer.position }}</li>
            </ol>
        <div>
            <h3> {{ offer.position }}</h3>
            <div class="offer-data">{{ offer.offerdate|date('d/m/Y') }}</div>
            <h4><i class="fa fa-building-o" aria-hidden="true"></i> Datos Empresa</h4>
            <div class="offer-details">
                <div><b></b></div>
                {{ offer.company }}
            </div>

        {% if is_granted('ROLE_USER')  %}
            <div class="offer-text">
                <div><b>Dirección</b></div>
                {{ offer.address }}
            </div>
            <div class="offer-text">
                <div><b>Localidad</b></div>
                {{ offer.city }}
            </div>
            <div class="offer-text">
                <div><b>Actividad económica</b></div>
                {{ offer.activity }}
            </div>
            <div class="offer-text">
                <div><b>Persona de contacto</b></div>
                {{ offer.contactPerson }}
            </div>
            <div class="offer-text">
                <div><b>Email</b></div>
                {{ offer.contactEmail }}
            </div>
            <div class="offer-text">
                <div><b>Teléfono de contacto</b></div>
                {{ offer.contactPhone }}
            </div>
            <h4><i class="fa fa-briefcase" aria-hidden="true"></i> Puesto de trabajo</h4>
            <div class="offer-text">
                <div><b>Puesto</b></div>
                {{ offer.position }}
            </div>
            <div class="offer-text">
                <div><b>Descripción</b></div>
                {{ offer.description }}
            </div>
            <div class="offer-text">
                <div><b>Tipo y duración de contrato</b></div>
                {{ offer.contract }}
            </div>
            <div class="offer-text">
                <div><b>Vacantes</b></div>
                {{ offer.positionNo }}
            </div>
            <h4><i class="fa fa-users" aria-hidden="true"></i> Perfil de candidaturas</h4>
            <div class="offer-text">
                <div><b>Estudios requeridos</b></div>
                {{ offer.requiredStudies|join(', ') }}
            </div>
            <div class="offer-text">
                <div><b>Otros conocimientos</b></div>
                {{ offer.otherKnowledges }}
            </div>
            <div class="offer-text">
                <div><b>Observaciones</b></div>
                {{ offer.observations }}
            </div>
            {% else %}
            <div>Si deseas saber más, entra en el portal o regístrate.</div>
            {% endif %}
            {% include "CuatrovientosArteanBundle:Default:offerShare.html.twig" %}
        </div>
        </div>
    {% endblock %}
    {% block login %}
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="pagelist">
        <h4><i class="fa fa-user" aria-hidden="true"></i> ¿Te interesa?</h4>
        <p>Entra en el portal o <a href="{{ path('cuatrovientos_artean_applicant_signup') }}">regístrate</a> para poder tener más información sobre esta oferta</p>
        {% include "CuatrovientosArteanBundle:Security:loginForm.html.twig" %}
    </div>
            {% endif %}
    {% endblock %}
{% endif %}