{% extends "CuatrovientosArteanBundle:Default:default.html.twig" %}
{% if offer is not null %}
    {% block title %}Artean :: {{ offer.position }}{% endblock %}
    {% block body %}
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('cuatrovientos_artean_homepage') }}">Inicio</a></li>
                <li class="breadcrumb-item active">Ofertas</li>
                <li class="breadcrumb-item active">{{ offer.position }}</li>
            </ol>
        <div>
            <h3> {{ offer.position }}</h3>
            <div class="offer-details">
                {{ offer.company }}
            </div>
            <div class="offer-text">
                {{ offer.position }}
            </div>
            <div class="offer-data">{{ offer.offerdate|date('d/m/Y') }}</div>
        </div>
        </div>
    {% endblock %}
    {% block login %}
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="pagelist">
        <h4><i class="fa fa-user" aria-hidden="true"></i> ¿Te interesa?</h4>
        <p>Entra en el portal o <a href="{{ path('cuatrovientos_artean_applicant_signup') }}">regístrate</a> para poder tener más información sobre esta oferta</p>
        {% include "CuatrovientosArteanBundle:Security:loginForm.html.twig" %}
    </div>
            {% endif %}
    {% endblock %}
{% endif %}