{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Restablecer contraseña {% endblock %}
{% block body %}

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="inner cover">
                    <h1 class="cover-heading">¿Olvidaste la contraseña?</h1>
                        <h3><i class="fa fa-key" aria-hidden="true"></i> Restablecer contraseña</h3>
                        <p>Introduce tu email y te enviaremos un enlace para que puedas cambiar la contraseña</p>
                    {% for type, flash_messages in app.session.flashBag.all %}
                        {% for flash_message in flash_messages %}
                            <div class="card {{ type }}">
                                <div class="card-header">
                                    {{ type }}
                                </div>
                                <div class="card-block">
                                    {{ flash_message }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                        <form method="post" action="{{ path('cuatrovientos_artean_forgot_password_save') }}">
                            {{ form_errors(form) }}
                            <div class="form-group">
                                {{ form_label(form.email) }}
                                {{ form_errors(form.email) }}
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form._token) }}
                                <button type="submit" id="applicant_sign_in_save" name="applicant_sign_in[save]" class="form-control">Resetear contraseña</button>
                            </div>
                        </form>

                </div>




            </div>

        </div>

    </div>

{% endblock %}
