{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean::Login{% endblock %}
{% block body %}
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ path('cuatrovientos_artean_homepage') }}"><i class="fa fa-compass"></i> Artean</a>

    </nav>
{% if error %}
    {# For complex error messages
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    #}
{% endif %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if error %}
        <div>{{ error.messageKey|trans }}</div>
    {% endif %}
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">
                {% for type, flash_messages in app.session.flashBag.all %}
                    {% for flash_message in flash_messages %}
                        <div class="card {{ type }}">
                            <div class="card-header">
                                {{ type }}
                            </div>
                            <div class="card-block">
                                {{ flash_message }}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="inner cover">
                    <h1 class="cover-heading">Login</h1>
                    <form class="form-signin" method="post" action="{{ path('cuatrovientos_artean_login_check') }}">
                        <h2 class="form-signin-heading">Identifícate</h2>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <label for="username">Usuario/Email:</label>
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required autofocus>
                        <i class="fa fa-key" aria-hidden="true"></i>
                        <label for="password">Password:</label>
                        <input type="password" class="form-control"  id="password" name="_password" required>
                        <br />
                        <input type="hidden" name="_target_path" value="/artean/login/redirect" />
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
                    </form>

                </div>
                <div><a href="{{ path('cuatrovientos_artean_forgot_password') }}">¿Olvidaste tu contraseña?</a></div>



            </div>

        </div>

    </div>

{% endblock %}
