{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean::Login{% endblock %}
{% block body %}
{% if error %}
    {# For complex error messages
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    #}
{% endif %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if error %}
        <div>{{ error.messageKey|trans }}</div>
    {% endif %}
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="inner cover">
                    <h1 class="cover-heading">Login</h1>
                    <form class="form-signin" method="post" action="{{ path('cuatrovientos_artean_login_check') }}">
                        <h2 class="form-signin-heading">Identifícate</h2>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <label for="username">Usuario/Email:</label>
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required autofocus>
                        <i class="fa fa-key" aria-hidden="true"></i>
                        <label for="password">Password:</label>
                        <input type="password" class="form-control"  id="password" name="_password" required>
                        <br />
                        <input type="hidden" name="_target_path" value="/artean/redirect" />
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
                    </form>

                </div>



            </div>

        </div>

    </div>

{% endblock %}
