{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean::Profile{% endblock %}
{% block body %}

    <h1>Perfil de usuario {{ user.username }}</h1>

    <div >
        {% for type, flash_messages in app.session.flashBag.all %}
            {% for flash_message in flash_messages %}
            <div class="card {{ type }}">
                <div class="card-header">
                    {{ type }}
                    </div>
                <div class="card-block">
                {{ flash_message }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        <div >
            <h3><i class="fa fa-key" aria-hidden="true"></i> Cambiar contraseña</h3>
            <form method="post" action="{{ path('cuatrovientos_artean_profile_change_password_save') }}">
                {{ form_errors(formChangePassword) }}
                <div class="form-group">
                    {{ form_label(formChangePassword.oldPassword) }}
                    {{ form_errors(formChangePassword.oldPassword) }}
                    {{ form_widget(formChangePassword.oldPassword, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(formChangePassword.newPassword) }}
                    {{ form_errors(formChangePassword.newPassword) }}
                    {{ form_widget(formChangePassword.newPassword, {'attr': {'class': 'passwordChange'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formChangePassword._token) }}
                    {{ form_widget(formChangePassword.save, {'attr': {'class': 'form-control'}}) }}
                </div>
            </form>
            <div><a href="{{ path('cuatrovientos_artean_workorder') }}">Cancelar</a></div>
        </div>

        <div >
            <h3><i class="fa fa-user" aria-hidden="true"></i> Datos de usuario</h3>
            <form method="post" action="{{ path('cuatrovientos_artean_profile_save') }}">
                {{ form_errors(formProfile) }}
                <div class="form-group">
                    {{ form_label(formProfile.username) }}
                    {{ form_errors(formProfile.username) }}
                    {{ form_widget(formProfile.username, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(formProfile.email) }}
                    {{ form_errors(formProfile.email) }}
                    {{ form_widget(formProfile.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(formProfile._token) }}
                    {{ form_widget(formProfile.save, {'attr': {'class': 'form-control'}}) }}
                </div>
            </form>
        </div>

    </div>




{% endblock %}
