{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Resetear contrase単a{% endblock %}
{% block body %}
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ path('cuatrovientos_artean_homepage') }}"><i class="fa fa-compass"></i> Artean</a>

    </nav>
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="inner cover">
                    <h1 class="cover-heading">多Olvidaste la contrase単a?</h1>
                        <h3><i class="fa fa-key" aria-hidden="true"></i> Introduce una nueva contrase単a</h3>
                    {% for type, flash_messages in app.session.flashBag.all %}
                        {% for flash_message in flash_messages %}
                            <div class="card {{ type }}">
                                <div class="card-header">
                                    {{ type }}
                                </div>
                                <div class="card-block">
                                    {{ flash_message }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <form method="post" action="{{ path('cuatrovientos_artean_reset_password_save') }}">
                        {{ form_errors(formResetPassword) }}
                            {{ form_errors(formResetPassword.validate) }}
                        <input type="hidden" id="reset_password_validate" name="reset_password[validate]" required="required" class="form-control" value="{{ id }}" />                       <div class="form-group">
                            {{ form_label(formResetPassword.newPassword) }}
                            {{ form_errors(formResetPassword.newPassword) }}
                            {{ form_widget(formResetPassword.newPassword, {'attr': {'class': 'passwordChange'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(formResetPassword._token) }}
                            {{ form_widget(formResetPassword.save, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </form>

                </div>




            </div>

        </div>

    </div>

{% endblock %}
