<div class="modal-dialog" role="document">
   <div class="modal-content">
      <form method="post" id="company_search_form" action="{{ path('cuatrovientos_artean_company_search') }}" class="arteanform">
      <div class="modal-header">

   <h3><i class="fa fa-search" aria-hidden="true"></i> Buscar empresa</h3>
      </div>
      <div class="modal-body">

   {{ form_errors(form) }}
   <div class="form-group">
      {{ form_label(formCompany.cif) }}
      {{ form_errors(formCompany.cif) }}
      {{ form_widget(formCompany.cif, {'attr': {'class': 'form-control'}}) }}
   </div>
   <div class="form-group">
      {{ form_label(formCompany.empresa) }}
      {{ form_errors(formCompany.empresa) }}
      {{ form_widget(formCompany.empresa, {'attr': {'class': 'form-control'}}) }}
   </div>

   <div class="form-group">
      {{ form_label(formCompany.fct) }}
      {{ form_errors(formCompany.fct) }}
      {{ form_widget(formCompany.fct, {'attr': {'class': 'form-control'}}) }}
   </div>

   <div class="form-group">
      {{ form_label(formCompany.convenio) }}
      {{ form_errors(formCompany.convenio) }}
      {{ form_widget(formCompany.convenio, {'attr': {'class': 'form-control'}}) }}
   </div>
      {{ form_row(formCompany._token) }}

      </div>
         <div class="modal-footer">
            <a href="{{ path('cuatrovientos_artean_company_admin_advanced_search') }}" class="btn btn-primary" id="company_search"><i class="fa fa-search" aria-hidden="true"></i> Buscar empresas</a>
         </div>


      </form>
   </div>

   <div id="company_search_result" class="search-results">
      <h4>Seleccionar empresas destinatarias <i class="fa fa-users" aria-hidden="true"></i></h4>
      <div class="results"></div>
      <div class="form-group">
         <label for="applicant_advanced_search_name">Seleccionadas</label>
         <form method="post" action="{{ path('cuatrovientos_artean_mailing_add_selected_companies') }}">
            <input type="hidden" name="mailing_selected_companies[id]" value="{{ mailing.id }}" />
            <select id="selected_company_list" name="mailing_selected_companies[selectedCompanies][]" class="form-control" multiple size="10">
            </select>
            {{ form_row(formSelectedCompanies._token) }}
            <div><label><input type="checkbox" id="select_all"> Todas/os</label></div>
            <button type="submit" class="btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i> Agregar destinatarios
            </button>

         </form>
      </div>
   </div>
</div>