<tr id="selected_applicant_id_{{ selectedApplicant.applicant.id }}">
    <td>{{ selectedApplicant.applicant.id }}</td>
    <td>{{ selectedApplicant.applicant.surname }}</td>
    <td>{{ selectedApplicant.applicant.name }}</td>
    <td>{{ selectedApplicant.applicant.mobile }}</td>
    <td>{{ selectedApplicant.applicant.email }}</td>
    <td>{{ selectedApplicant.sent }}</td>

    {#% if is_granted('ROLE_ADMIN') %#}
    <td>
        <a href="{{ path('cuatrovientos_artean_applicant_admin_detail_resumed', {'id': selectedApplicant.applicant.id }) }}" class="btn btn-primary applicant_detail"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
         <a href="{{ path('cuatrovientos_artean_mailing_delete_selected_applicant', {'mailingid': mailing.id,'applicantid': selectedApplicant.applicant.id }) }}" class="btn btn-danger  delete_selected"  data-id="{{ selectedApplicant.applicant.id }}"><i class="fa fa-trash-o" aria-hidden="true"></i> </a>

    </td>

    {#% endif % #}
</tr>