<tr>
     <td>{{ page.id }}</td> 
     <td>{{ page.title }}</td>
    <td>{{ page.what }}</td>
    <td>
        <a href="{{ path('cuatrovientos_artean_page_detail', {'id': page.id }) }}" class="btn btn-primary"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
        <a href="{{ path('cuatrovientos_artean_page_update', {'id': page.id }) }}" class="btn btn-warning"><i class="fa fa-edit" aria-hidden="true"></i> </a>
        <a href="{{ path('cuatrovientos_artean_page_delete', {'id': page.id }) }}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> </a>
    </td>
</tr>
