{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}News bundle::News detail{% endblock %}
{% block body %}
<h1>Noticias</h1>
<section>
    <h3>{{ news.title }}</h3> 
    <div><small>{{ news.newsdate|date('d/m/Y') }}</small></div>
    <div><small>{{ news.tags }}</small></div>
    <div style="text-align: left">{{ news.what|raw }}</div>
</section>
		{#% if is_granted('ROLE_ADMIN') %#}
                <a href="{{ path('cuatrovientos_artean_news') }}">Index</a> |
                <a href="{{ path('cuatrovientos_artean_news_update', {'id': news.id }) }}">Update</a> |
                <a href="{{ path('cuatrovientos_artean_news_delete', {'id': news.id }) }}">Delete</a>                      
		{#% endif % #}
{% endblock %}