{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean :: Estudios : Detalle estudios{% endblock %}
{% block body %}
    <h2><i class="fa fa-book" aria-hidden="true"></i> Estudios</h2>

    <a href="{{ path('cuatrovientos_artean_studies') }}" class="btn">
        <i class="fa fa-list-alt" aria-hidden="true"></i> Ver todos
    </a>
    <h3><i class="fa fa-search-plus" aria-hidden="true"></i> Detalle de estudios</h3>
    <a href="{{ path('cuatrovientos_artean_studies_update', {'id': studies.id }) }}" class="btn btn-warning"><i class="fa fa-edit" aria-hidden="true"></i> Modificar</a>
    <ul>
     <li><strong>Id: </strong>{{ studies.id }}</li> 
     <li><strong>Name: </strong>{{ studies.name }}</li>
        <li><strong>Descripción: </strong>{{ studies.description }}</li>
    </ul>
		{#% if is_granted('ROLE_ADMIN') %#}
                <a href="{{ path('cuatrovientos_artean_studies') }}">Index</a> |
                <a href="{{ path('cuatrovientos_artean_studies_update', {'id': studies.id }) }}">Update</a> |
                <a href="{{ path('cuatrovientos_artean_studies_delete', {'id': studies.id }) }}">Delete</a>                      
		{#% endif % #}
{% endblock %}