
{# src/Cuatrovientos/ArteanBundle/Resources/views/OfferAd/newAdSave.html.twig #}
{% extends "CuatrovientosArteanBundle:Default:layoutStars.html.twig" %}
{% block title %}Artean::Offer Ad Save{% endblock %}
{% block body %}
Salvando anuncio de oferta de emeplo para 

  
  <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Oferta para {{ offer.company }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row">
            Puesto
        </th>
        <td>
            {{ offer.position }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Localidad
        </th>
        <td>
            {{ offer.location }}
        </td>
    </tr>  
      <tr>
        <th scope="row">
            Descripción
        </th>
        <td>
            {{ offer.description }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Vacantes
        </th>
        <td>
            {{ offer.positionNo }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Contrato
        </th>
        <td>
            {{ offer.contractType }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Jornada
        </th>
        <td>
            {{ offer.workday }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Estudios requeridos
        </th>
        <td>
            <ul>
            {% for item in offer.requiredStudies %}
                <li>{{ item }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <th scope="row">
            Otros conocimientos
        </th>
        <td>
            {{ offer.otherKnowledges }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Observaciones
        </th>
        <td>
            {{ offer.observations }}
        </td>
    </tr>
     <tr>
        <th scope="row">
            Contacto
        </th>
        <td>
            {{ offer.contact }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Fecha currículum
        </th>
        <td>
            {{ offer.cvDate|date('d-m-Y') }}
        </td>
    </tr>
  </tbody>
</table>
<div class="center-block">
   <a class="btn btn-primary" href="/" role="button">Volver</a>
</div>
{% endblock %}